<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <!-- General -->
    <category label="General">
        <!-- Username -->
        <setting id="username" type="text" label="30050" default="" />
        <!-- Title Display -->
        <setting id="titledisplay" type="enum" label="30045" lvalues="30046|30047|30048|30049|30051|30067|30068" default="0" />
        <!-- Truncate titles -->
        <setting id="titletruncate" type="bool" label="30065" default="true" />
        <!-- Streams/games per page -->
        <setting id="items_per_page" type="number" label="30069" default="20" />
    </category>
    <!-- API -->
    <category label="API">
        <!-- oauth_client_id -->
        <setting id="oauth_client_id" type="text" label="30059" default="" />
        <!-- oAuthToken -->
        <setting id="oauth_token" type="text" label="30053" default="" />
    </category>
</settings>
